*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(../Imagenes/Fondo.jpg);
    background-size: cover;
}

.contenedor{
    display: flex;
    flex-direction: row;
}

.c1 {
    width: 15%;
    border: blue;
    background-color: aquamarine;

}

.c2 {
    width: 55%;
    border: 1px silver solid;
    text-align: center;
    height: 100px;
    display: inline-block;
    color: rgb(151, 129, 54);
    text-decoration: none;
    padding-right: 10px;
    color: goldenrod;
    background-color: aquamarine;
}

a:hover{
    text-decoration: underline;
    color: gold;
}

.c3 {
    width: 30%;
    border: 1px silver solid;
    background-color: aqua;
}

h1{
    padding-top: 15px;
    color: rgb(247, 186, 34);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    text-align: center;
}

h4{
    padding-top: 15px;
    color: rgb(167, 119, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    text-align: center;
    background-color: rgb(75, 54, 95);
}

.boton{
    width: 200px;
    height: 35px;
    background-color: goldenrod;
    color: white;
    font-weight: bold;
    border: 3px goldenrod solid;
    border-radius: 10px;
    text-align: center;
}

.caja{
    width: 300px;
    height: 40px;
    background: transparent;
    color: goldenrod; 
    text-align: center;
}
p{
    text-align: center;
}

.c4 {
    width: 200%;
    border: 1px silver solid;
}

.c5 {
    width: 33.3%;
    border: 1px silver solid;
    text-align: center;
    background-color: wheat;
}

.c6 {
    width: 33.3%;
    border: 1px silver solid;
    text-align: center;
    background-color: wheat;
}

.c7 {
    width: 33.3%;
    border: 1px silver solid;
    text-align: center;
    background-color: wheat;
}

.c8 {
    width: 25%;
    border: 1px silver solid;
    text-align: center;
    background-color: rgb(90, 90, 175);
}

.c9 {
    width: 25%;
    border: 1px silver solid;
    text-align: center;
    background-color: rgb(85, 85, 136);
}

.c10 {
    width: 25%;
    border: 1px silver solid;
    text-align: center;
    background-color: rgb(79, 79, 119);
}

.c11 {
    width: 25%;
    border: 1px silver solid;
    text-align: center;
    background-color: hwb(195 40% 47%);
}

.c12 {
    width: 50%;
    border: 1px silver solid;
    text-align: justify;
    background-color: aqua;
}

.c13 {
    width: 50%;
    border: 1px silver solid;
    text-align: justify;
    background-color: rgb(79, 141, 141);
}

.c13 {
    width: 50%;
    border: 1px silver solid;
    text-align: justify;
}

.c13 {
    width: 50%;
    border: 1px silver solid;
    text-align: justify;
}

.c14 {
    width: 50%;
    border: 1px silver solid;
    text-align: justify;
}