nav{
    background-image: url(../imagenes/fondo/logo.jpg);
    background-size: cover;
}

body{    
    font-family: Arial, sans-serif;
    margin: 0%;
    padding: 0;
    background-color: rgb(183, 233, 233);
}
.container{
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.c1{
    width: 20%;
    border: 1px silver solid;
}

.container2{
    width: 100%;
    margin: auto;
    overflow: hidden;
    
}


header{
    background: #50b3a2;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
nav{
    display: flex;
    justify-content: center;
    background: #333;
}
nav a{
    color: #fff;
    padding: 15px 20px;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover{
    background: #575757;
}
.box{
    flex: 1;
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border: 2px solid #50b3a2;
}

.boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.boxes .box{
    flex: 1 1 30px;
    margin: 10px;
    text-align: center;
}
footer{
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;  
}
.contacto{
    text-align: center;
    padding: 10px;
}
footer{
    background-color: #333;
    color: white;
    padding: 10px;
}
